{% extends 'base.html' %}

{% block title %}Facturas — Matpi{% endblock %}

{% block content %}
<div class="formulario-seccion">
    <h1>Facturas</h1>



    <div class="table-responsive">
        <table class="custom-table">
            <thead>
                <tr>
                    <th>No° Factura</th>
                    <th>Cliente</th>
                    <th>Valor Total</th>
                    <th>IVA (%)</th>
                    <th>Descripción</th>
                    <th>Pedido</th>
                    <th>Método de Pago</th>
                </tr>
            </thead>
            <tbody>
                {% for factura in facturas %}
                <tr>
                    <td>{{ factura.id }}</td>
                    <td>{{ factura.pedido.cliente.nombre_completo|default:"No aplica" }}</td>
                    <td>${{ factura.valor_total }}</td>
                    <td>{{ factura.iva|default:"—" }}</td>
                    <td>{{ factura.descripcion|default:"—" }}</td>
                    <td>{{ factura.pedido }}</td>
                    <td>{{ factura.pedido.metodo_pago|default:"—" }}</td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="7" style="text-align:center;">No hay facturas registradas.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}