{% extends 'base.html' %}

{% block title %}Editar Producto — Matpi{% endblock %}


{% block content %}
<div class="formulario-seccion">
    <h1>Editar Producto</h1>

    <form method="POST" action="{% url 'editar_producto' %}">
        {% csrf_token %}
        <input type="hidden" name="txt_id" value="{{ producto.id }}">

        <div class="form-group">
            <label>ID (automático)</label>
            <input type="text" value="#{{ producto.id }}" disabled>
        </div>

        <div class="form-group">
            <label for="txt_nombre">Nombre del Producto</label>
            <input type="text" id="txt_nombre" name="txt_nombre" value="{{ producto.nombre_producto }}" required>
        </div>

        <div class="form-group">
            <label for="txt_descripcion">Descripción</label>
            <textarea id="txt_descripcion" name="txt_descripcion"
                rows="3">{{ producto.descripcion|default:'' }}</textarea>
        </div>

        <div class="form-group">
            <label for="txt_cantidad">Cantidad en Stock</label>
            <input type="number" id="txt_cantidad" name="txt_cantidad" value="{{ producto.cantidad }}" min="0">
        </div>

        <div class="form-group">
            <label for="txt_precio">Precio</label>
            <input type="number" id="txt_precio" name="txt_precio" value="{{ producto.precio }}" min="0" required>
        </div>

        <div class="form-group">
            <label for="txt_categoria">Categoría</label>
            <select id="txt_categoria" name="txt_categoria">
                <option value="">— Seleccione —</option>
                <option value="Hamburguesas" {% if producto.categoria == 'Hamburguesas' %}selected{% endif %}>Hamburguesas
                </option>
                <option value="Perros Calientes" {% if producto.categoria == 'Perros Calientes' %}selected{% endif %}>
                    Perros Calientes</option>
                <option value="Entradas y Snacks" {% if producto.categoria == 'Entradas y Snacks' %}selected{% endif %}>
                    Entradas y Snacks</option>
                <option value="Combos" {% if producto.categoria == 'Combos' %}selected{% endif %}>Combos</option>
                <option value="Bebidas" {% if producto.categoria == 'Bebidas' %}selected{% endif %}>Bebidas</option>
                <option value="Postres" {% if producto.categoria == 'Postres' %}selected{% endif %}>Postres</option>
                <option value="Adiciones" {% if producto.categoria == 'Adiciones' %}selected{% endif %}>Adiciones</option>
                <option value="Salsas" {% if producto.categoria == 'Salsas' %}selected{% endif %}>Salsas</option>
            </select>
        </div>

        <button type="submit" class="btn btn-guardar">Actualizar</button>
        <a href="{% url 'listar_productos' %}" class="btn btn-cancelar">Cancelar</a>
    </form>
</div>
{% endblock %}