{% extends 'base.html' %}

{% block title %}Registrar Producto — Matpi{% endblock %}

{% block content %}
<div class="formulario-seccion">
    <h1>Registrar Producto</h1>

    <form method="POST" action="{% url 'registrar_producto' %}">
        {% csrf_token %}



        <div class="form-group">
            <label for="txt_nombre">Nombre del Producto</label>
            <input type="text" id="txt_nombre" name="txt_nombre" placeholder="Nombre del producto" required>
        </div>

        <div class="form-group">
            <label for="txt_descripcion">Descripción</label>
            <textarea id="txt_descripcion" name="txt_descripcion" rows="3"
                placeholder="Descripción opcional"></textarea>
        </div>

        <div class="form-group">
            <label for="txt_cantidad">Cantidad en Stock</label>
            <input type="number" id="txt_cantidad" name="txt_cantidad" placeholder="0" value="0">
        </div>

        <div class="form-group">
            <label for="txt_precio">Precio</label>
            <input type="number" id="txt_precio" name="txt_precio" placeholder="Ingrese precio" required>
        </div>

        <div class="form-group">
            <label for="txt_categoria">Categoría</label>
            <select id="txt_categoria" name="txt_categoria">
                <option value="">— Seleccione —</option>
                <option value="Hamburguesas">Hamburguesas</option>
                <option value="Perros Calientes">Perros Calientes</option>
                <option value="Entradas y Snacks">Entradas y Snacks</option>
                <option value="Combos">Combos</option>
                <option value="Bebidas">Bebidas</option>
                <option value="Postres">Postres</option>
                <option value="Adiciones">Adiciones</option>
                <option value="Salsas">Salsas</option>
            </select>
        </div>

        <button type="submit" class="btn btn-guardar">Guardar</button>
        <a href="{% url 'listar_productos' %}" class="btn btn-cancelar">Cancelar</a>
    </form>
</div>
{% endblock %}