{% extends "reportes/base_pdf.html" %}

{% block content %}
<h2 style="font-size: 14px; margin-top: 10px; border-bottom: 2px solid #ddd; padding-bottom: 5px;">Productos Más Vendidos</h2>

<table class="table-data">
    <thead>
        <tr>
            <th>Producto</th>
            <th class="text-center">Unidades Vendidas</th>
            <th class="text-right">Ingreso Aproximado</th>
        </tr>
    </thead>
    <tbody>
        {% for p in datos_especifico.productos %}
        <tr>
            <td>{{ p.producto__nombre_producto }}</td>
            <td class="text-center">{{ p.cantidad_total }}</td>
            <td class="text-right">${{ p.ingreso_total }}</td>
        </tr>
        {% empty %}
        <tr><td colspan="3" class="text-center">No hay registros de productos vendidos en este periodo.</td></tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
